In [5]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd 
import math

In [9]:
data=pd.read_csv('/Users/mac/Downloads/completeseds19602009.csv')

In [10]:
print(data.shape)

(1375821, 4)

In [11]:
msn=data.iloc[:,0].values
stateCode=data.iloc[:,1].values
year=data.iloc[:,2].values
da=data.iloc[:,3].values

In [12]:
print(msn[0])
print(stateCode[0])
print(year[0])
print(da[0])
msnSet=sorted(set(msn))
print(len(msnSet))
stateSet=sorted(set(stateCode))
print(stateSet)

ABICB
AK
1960
0.0
607
['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'US', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [13]:
data.head()

     MSN StateCode  Year  Data
0  ABICB        AK  1960   0.0
1  ABICB        AK  1961   0.0
2  ABICB        AK  1962   0.0
3  ABICB        AK  1963   0.0
4  ABICB        AK  1964   0.0

In [26]:
chosen_data = data[ ((data['MSN']=='TETGR') | (data['MSN']=='TETPB') | (data['MSN']=='TPOPP')| (data['MSN']=='TETCB'))
                   & (data['Year'] == 2009 ) & (data['StateCode'] == 'WV' ) ]
# writer = pd.ExcelWriter('output.xlsx')
# chosen_data.to_excel(writer, 'sheet1')
# writer.save()
chosen_data

           MSN StateCode  Year          Data
1241974  TETCB        WV  2009  715643.99283
1247867  TETGR        WV  2009      13.05467
1250450  TETPB        WV  2009     392.93248
1276970  TPOPP        WV  2009    1821.29000